{% extends 'shared/base.html' %}
{% block title %}
<title>Add Books</title>
{% endblock %}
{% block content %}
<div class="container col-md-8 bg-light py-5 h-100 section-divider">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8">
            <div class="card bg-light text-dark shadow" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info mb-4">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    <div class="mb-md-4 mt-md-4 pb-5">
                        <h2 class="fw-bold mb-2 text-uppercase">Add New Book to Library</h2>
                        <form method="POST" action="{% url 'add-books' %}">
                            {% csrf_token %}
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                {{ form.name }}
                                <label class="form-label">Book Name</label>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary px-5 mx-2" type="submit">
                                    Add to Library
                                </button>
                                <a href="{% url 'manage-books' %}" class="btn btn-success px-5 mx-2">Manage Books</a>
                                <a href="{% url 'home' %}" class="btn btn-primary px-5 mx-2">Back to home</a>
                            </div>
                        </form>
                                                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}