{% extends 'shared/base.html' %}
{% block title %}
<title>Student Fees Record</title>
{% endblock %}
{% block content %}
<div class="col-md-8 mx-auto section-divider">
    <div class="container-fluid py-5 bg-light">
        <div class="mb-5">
            <h2 class="fw-bold mb-2 text-uppercase text-center">Fees Record</h2>
        </div>
        <div class="col-md-8 ms-auto">
          <form method="get" class="d-flex align-items-center mb-4">
            <div class="d-flex flex-grow-1 me-2">
                <input type="text" name="search" class="form-control form-control-sm me-2" placeholder="Search by name" value="{{ search_query }}">
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-sm">Search & Filter</button>
                <a href="{% url 'fees-list' %}" class="btn btn-secondary btn-sm">Clear</a>
            </div>
        </form>
        </div>
        <table class="table table-hover">
            <thead class="table-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Student Name</th>
                <th scope="col">Payment Date</th>
              </tr>
            </thead>
            <tbody>
              {% if fees %}
              {% for fee in fees %}
              <tr onclick="window.location.href='{% url 'student-fee-detail' fee.pk %}';" style="cursor: pointer;">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ fee.id }}</td>
                <td>{{ fee.student.name }}</td>
                <td>{{ fee.date_paid }}</td>
              </tr>
              {% endfor %}
              {% else %}
            <p class="text-center">No fees details in the list!</p>
            {% endif %}
            </tbody>
          </table>
    </div>
</div>
{% endblock content %}