{% extends 'shared/base.html' %}
{% block title %}
<title>Register Student</title>
{% endblock %}
{% block content %}
<div class="container col-md-8 bg-light py-5 h-100 section-divider">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8">
            <div class="card bg-light text-dark shadow" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info mb-4">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    <div class="mb-md-4 mt-md-4 pb-5">
                        <h2 class="fw-bold mb-4 text-uppercase">Enter Student Detail</h2>
                        <form method="POST" action="{% url 'student-update' student.pk %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline form-white">
                                        {{ form.name }}
                                        <label class="form-label" for="name">Student's Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline form-white">
                                        {{ form.date_of_birth }}
                                        <label class="form-label" for="date_of_birth">Date of Birth</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline form-white">
                                        {{ form.gender }}
                                        <label class="form-label" for="gender">Gender</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline form-white">
                                        {{ form.father_name }}
                                        <label class="form-label" for="father_name">Father's Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline form-white">
                                        {{ form.mother_name }}
                                        <label class="form-label" for="mother_name">Mother's Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline form-white">
                                        {{ form.contact_number }}
                                        <label class="form-label" for="contact_number">Contact Number</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline form-white">
                                        {{ form.address }}
                                        <label class="form-label" for="address">Address</label>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline form-white">
                                        {{ form.grade }}
                                        <label class="form-label" for="grade">Grade</label>
                                    </div>
                                </div>
                            </div>
                            <button data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-outline-primary btn-lg px-5" type="submit">Update</button>
                            <a id="back-link" href="{% url 'student-detail' student.pk %}" class="btn btn-primary btn-lg">Back</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}