{% extends 'shared/base.html' %}
{% block title %}
<title>Student Details</title>
{% endblock %}
{% block content %}
<div class="col-md-8 mx-auto section-divider">
    <div class="container-fluid py-5 bg-light">
        <div class="mb-5">
            <h2 class="fw-bold mb-2 text-uppercase text-center">Student Detail</h2>
        </div>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td><strong>ID:</strong></td>
                    <td>{{ student.id }}</td>
                </tr>
                <tr>
                    <td><strong>Name:</strong></td>
                    <td>{{ student.name }}</td>
                </tr>
                <tr>
                    <td><strong>Date of Birth:</strong></td>
                    <td>{{ student.date_of_birth }}</td>
                </tr>
                <tr>
                    <td><strong>Gender:</strong></td>
                    <td>{{ student.gender }}</td>
                </tr>
                <tr>
                    <td><strong>Father's Name:</strong></td>
                    <td>{{ student.father_name }}</td>
                </tr>
                <tr>
                    <td><strong>Mother's Name:</strong></td>
                    <td>{{ student.mother_name }}</td>
                </tr>
                <tr>
                    <td><strong>Contact Number</strong></td>
                    <td>{{ student.contact_number }}</td>
                </tr>
                <tr>
                    <td><strong>Address:</strong></td>
                    <td>{{ student.address }}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-4">
            {% if user.is_authenticated %}
            {% if is_office_staff or user.is_superuser %}
            <a href="{% url 'student-fee-details-list' student.pk %}" class="btn btn-success">Fee Detail</a>        
            <a href="{% url 'student-update' student.pk %}" class="btn btn-warning">Update Student</a>
            <a href="{% url 'student-delete' student.grade.id student.pk  %}" class="btn btn-danger">Delete Student</a>
            {% endif %}
            {% endif %}
            <a href="{% url 'students-list-by-grade' student.grade.id %}" class="btn btn-primary">Students List</a>
        </div>
    </div>
</div>
{% endblock content %}