{% extends 'shared/base.html' %}
{% block title %}
<title>User Account Update</title>
{% endblock %}
{% block content %}
<div class="container col-md-8 bg-light py-5 h-100 section-divider">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8">
            <div class="card bg-light text-dark shadow" style="border-radius: 1rem;">
                <div class="card-body p-5  text-center">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info mb-4">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    <div class="mb-md-4 mt-md-4 pb-5">
                        <h2 class="fw-bold mb-2 text-uppercase">User Details</h2>
                        <form method="POST" action="{% url 'user-update' user_object.pk %}">
                            {% csrf_token %}
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                {{ form.first_name }}
                                <label class="form-label">First Name</label>
                            </div>
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                {{ form.last_name }}
                                <label class="form-label">Last Name</label>
                            </div>
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                {{ form.phone_number }}
                                <label class="form-label">Phone</label>
                            </div>
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                {{ form.role }}
                                <label class="form-label">Roles</label>
                            </div>
                            <button data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-outline-primary btn-lg px-5" type="submit">Update</button>
                            {% if messages %}
                            <a href="{% url 'user-detail' user_object.pk %}" class="btn btn-primary btn-lg px-5">Back to User Detail</a>
                            {% else %}
                            <a href="{% url 'user-detail' user_object.pk %}" class="btn btn-primary btn-lg px-5">Cancel</a>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}