<div class="col-md-8 mx-auto section-divider">
    <div class="container-fluid py-5 bg-light">
        <div class="mb-5">
            <h2 class="text-center">Librarian Dashboard</h2>
        </div>
        <div class="row justify-content-center px-5">
            <div class="col-md-4 mb-4">
                <div class="card text-center card-hover-fx">
                    <a href="{% url 'library-history-list' %}" style="text-decoration: none; color: inherit;">
                        <div class="card-body">
                            <h5>View Library History</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card text-center card-hover-fx">
                    <a href="{% url 'library-create' %}" style="text-decoration: none; color: inherit;">
                        <div class="card-body">
                            <h5>New Library Record</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card text-center card-hover-fx">
                    <a href="{% url 'librarian-students-lists' %}" style="text-decoration: none; color: inherit;">
                        <div class="card-body">
                            <h5>Students List</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card text-center card-hover-fx">
                    <a href="{% url 'manage-books' %}" style="text-decoration: none; color: inherit;">
                        <div class="card-body">
                            <h5>Manage Books</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

