{% extends 'shared/base.html' %}
{% block title %}
<title>Change Password</title>
{% endblock %}
{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-light text-dark" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info mb-4">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    <div class="mb-md-4 mt-md-4 pb-5">
                        <h2 class="fw-bold mb-2 text-uppercase">Change Password</h2>
                        <form method="POST" action="{% url 'user-password-change' %}">
                            {% csrf_token %}
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                {{ form.new_password }}
                                <label class="form-label" for="id_new_password">New Password</label>
                            </div>
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                {{ form.confirm_new_password }}
                                <label class="form-label" for="id_confirm_new_password">Confirm New Password</label>
                            </div>
                            <button data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-outline-primary btn-lg px-5" type="submit">Change Password</button>
                        </form>                                             
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}