{% extends 'shared/base.html' %}
{% block title %}
<title>Account Detail</title>
{% endblock %}
{% block content %}
<div class="container col-md-8 bg-light py-5 h-100 section-divide">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8">
            <div class="card bg-light text-dark shadow" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info mb-4">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    <div class="mb-md-4 mt-md-4 pb-5">
                        <h2 class="fw-bold mb-2 text-uppercase">Your Details</h2>
                        <form method="POST" action="{% url 'user-detail-update' %}">
                            {% csrf_token %}
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                {{ form.first_name }}
                                <label class="form-label">First Name</label>
                                {% if form.first_name.errors %}
                                <div class="text-danger">
                                    {% for error in form.first_name.errors %}
                                    <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                {{ form.last_name }}
                                <label class="form-label">Last Name</label>
                                {% if form.last_name.errors %}
                                <div class="text-danger">
                                    {% for error in form.last_name.errors %}
                                    <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                {{ form.phone_number }}
                                <label class="form-label">Phone</label>
                                {% if form.phone_number.errors %}
                                <div class="text-danger">
                                    {% for error in form.phone_number.errors %}
                                    <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <button data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-outline-primary btn-lg px-5" type="submit">Update</button>
                            {% if messages %}
                            <a href="{% url 'home' %}" class="btn btn-primary btn-lg px-5">Back to Home</a>
                            {% endif %}
                        </form>
                        <div class="mt-3">
                            <a id="change-pass-link" class="text-primary" href="{% url 'user-password-change' %}">Change
                                password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}